body {
  background: #f7f7f7 !important;
  font-family: 'Courgette';
}

nav {
  -webkit-box-shadow: 0px 0px 5px #888888;
          box-shadow: 0px 0px 5px #888888;
  border-top: 3px solid #5F3782;
}

.nav-item a.nav-link {
  -webkit-transition: all .2s !important;
  transition: all .2s !important;
}

.nav-item a.nav-link:hover {
  color: #5F3782 !important;
}

.nav__watch-btn {
  margin-right: 0.75rem;
}

.nav__active {
  font-weight: 500;
}

hr {
  border-top: 1px solid rgba(95, 55, 130, 0.9) !important;
}

.wn__overlay {
  height: 100vh;
  width: 100%;
  z-index: 5000;
  position: fixed;
  display: none;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  overflow-x: hidden;
}

/* Bootstrap override to center videos with side spacing */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  width: 92% !important;
  left: 4% !important;
}

footer {
  background-color: #5F3782;
  color: white;
  font-size: 0.875rem;
  border-top: solid black 3px;
  padding-top: 2rem;
}

.footer__panel-logo {
  position: relative;
}

.footer__panel-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 6rem;
  width: 6rem;
  opacity: .8;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__panel-logo img:hover {
  opacity: 1;
}

.footer__logos a {
  display: inline-block;
  position: relative;
  margin: 0rem 0.75rem 0.5rem 0.75rem;
  color: #5F3782;
  padding: .25rem;
  background: #fefefe;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__logos a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__logos a:hover {
  font-size: 1rem;
  color: #5F3782;
  font-weight: bold;
  background: rgba(254, 254, 254, 0.8);
}

.footer__logos a:first-child {
  margin-left: 0;
}

.footer__dev {
  padding: .5rem 0rem;
  font-size: .6rem;
  margin-top: 2rem;
}

.footer__dev-container {
  background-color: #161616;
}

.g__banner {
  position: fixed !important;
  z-index: 1000;
  width: calc(100% - 2rem);
  margin: .5rem 1rem;
  color: white !important;
  background-color: #5F3782 !important;
  border-color: #5F3782 !important;
}

.g__headers {
  margin: 3rem 0rem;
  overflow: hidden;
}

.g__header {
  font-family: 'Courgette';
  font-size: 1.3rem;
}

.g__author {
  color: grey;
}

.g__btn-outline {
  color: black !important;
  border-color: black !important;
}

.g__btn-outline:hover {
  color: white !important;
  background-color: black;
  border-color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.g__btn-outline:focus, .g__btn-outline.focus {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25) !important;
}

.g__btn-outline.disabled, .g__btn-outline:disabled {
  color: black;
  background-color: transparent;
}

.g__btn-outline:focus {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
}

.g__bg-primary {
  background-color: rgba(95, 55, 130, 0.125) !important;
}

.g__btn-primaryoutline {
  color: #5F3782 !important;
  border-color: #5F3782 !important;
}

.g__btn-primaryoutline:hover {
  color: white !important;
  background-color: #5F3782;
  border-color: #5F3782;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.g__btn-primaryoutline:focus, .g__btn-primaryoutline.focus {
  -webkit-box-shadow: 0 0 0 5px rgba(95, 55, 130, 0.25) !important;
          box-shadow: 0 0 0 5px rgba(95, 55, 130, 0.25) !important;
}

.g__btn-primaryoutline.disabled, .g__btn-primaryoutline:disabled {
  color: #5F3782;
  background-color: transparent;
}

.g__btn-primaryoutline:focus {
  -webkit-box-shadow: 0 0 0 5px rgba(95, 55, 130, 0.5);
          box-shadow: 0 0 0 5px rgba(95, 55, 130, 0.5);
}

.g__container-spacer {
  margin-top: 4rem;
}

.g__links-dark {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #d8d8d8;
  border-radius: 2px;
}

.g__links-dark:hover {
  text-decoration: none;
  color: #fff;
}

.g__links-dark:focus {
  text-decoration: none;
}

.g__links-light {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #aa4baa;
  border-radius: 2px;
}

.g__links-light:hover {
  text-decoration: none;
  color: #c887d7;
}

.g__links-light:focus {
  text-decoration: none;
}

.g__text-secondary {
  font-family: 'Courgette', sans-serif;
}

.g__text-spacer {
  margin-top: 0.5rem;
}

.g__text-spacermed {
  margin-top: 1rem;
}

.g__text-spacerlrg {
  margin-top: 1.5rem;
}

.g__txt-thin {
  font-weight: 300;
}

.g__txt-bold {
  font-weight: 400;
}

@media (max-width: 576px) {
  .g .g__headers .display-3 {
    font-size: 2.5rem;
  }
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0rem 1rem !important;
  }
}

.i__landing-arrow {
  margin-top: 65vh;
  display: none;
  background-color: white;
}

.i__landing-arrow p {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

.i__landing-arrow h6 {
  color: white;
  font-size: 2rem;
}

.i__landing-img img {
  width: 100%;
}

@media (min-width: 992px) {
  .i__landing-img {
    height: calc(100vh - 100px - 0.5rem);
    /* Change based on pixel height of logo in nav */
    width: 100%;
    overflow: hidden;
    background-image: url(../Images/landing-sml.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .i__landing-img img {
    display: none;
  }
}

.i__landing-logo {
  margin-top: 7rem;
  text-align: center;
}

.i__blurb-summary {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.i__blurb-summary h1 {
  font-size: 1.5rem;
}

.i__blurb-summary .jumbotron {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .i__blurb-summary h1 {
    font-size: 2rem;
  }
}

.i__blurb-btn {
  margin-top: 1rem;
}

.i__card {
  margin-top: 2rem;
}

.i__cardp {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.i__card-content {
  height: 100%;
  display: -ms-grid !important;
  display: grid !important;
  /* Override bootstrap*/
  border-color: #5F3782 !important;
  -ms-flex-line-pack: center;
      align-content: center;
}

.i__card-content .g__author {
  margin: 0;
}

.i__videos {
  margin: 4rem 0rem 0rem 0rem;
}

.s__tiles {
  margin: 1rem 0rem;
}

.s__tiles-img {
  padding: 1rem;
}

.s__tiles-text {
  padding: 1rem;
}

.s__tiles-text p {
  font-size: 1.25rem;
}

.s__management-blurb {
  padding: 2rem 0;
}

.r__row-container {
  margin-top: 3rem;
}

.r__songlist {
  font-size: 1rem;
}

.r__songlist p {
  margin: 0;
  padding: 0;
}

.r__songline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r__songline div {
  margin: 0rem .25rem;
}

.r__download-container p {
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .r__songlist-collapsed {
    margin-top: 3rem;
  }
}

.t__cards {
  margin: 1rem 0;
}

.t__cards img {
  width: 100%;
}

.t__cards .col-sm-6 {
  padding: 0 !important;
  /* Bootstrap override to make images line up when the text is not taller than the image */
}

.t__cards p {
  padding: 1.5rem;
}

.t__pv-container img {
  width: 100%;
}

.e__package .lead {
  padding-top: 1rem;
}

.e__blurb-header {
  line-height: 1.2;
  font-weight: 300;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .e__blurb-header {
    font-size: 2rem;
  }
}

.col-sm-6 button {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .e__package .display-4 {
    font-size: 2.5rem;
  }
}

.c__management-container img {
  width: 100%;
}

.c__management-blurb {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.c__brands-container {
  margin-top: 3rem;
}

.c__brands-container img {
  padding: 1rem;
}

.c__testimonials h4 {
  padding: 2rem 0;
  margin: 0;
}

.c__testimonials p {
  margin: 0;
  padding: 0 0 2rem 0;
}
/*# sourceMappingURL=styles.css.map */