@import "variables";

.c{
    &__management{
        &-container{
            img{ width: 100%; }
        }
        &-blurb{
            margin-top: 3rem;
            font-size: 1.5rem;
        }
    }
    &__brands{
        &-container{
            margin-top: 3rem;
            img{ padding: 1rem; }
        }
    }
    &__tiles{
        &-img{ 
            padding: 1rem; 
            img{ width: 100%; }
        }
        &-text{
            padding: 1rem;
            p{ font-size: 1em; }
        }
    }
    &__testimonials{
        h4{
            padding:  2rem 0;
            margin: 0;
        }
        p{
            margin: 0;
            padding: 0 0 2rem 0;
        }
    }
}

@media (max-width: 992px) { 
    .c__brands-container{
        img{
            width: 150px;
            padding: 0.5rem;
        }
    }
 }

 @media (max-width: 576px) { 
    .c__brands-container{
        img{
            width: 120px;
            padding: 0.125rem;
        }
    }
 }

 
@media (max-width: 768px) { 
    .c__contact-header{
        font-size: 3rem !important;
    }
 }