@import "variables";

.c{
    &__management{
        &-container{
            img{ width: 100%; }
        }
        &-blurb{
            margin-top: 3rem;
            font-size: 1.5rem;
        }
    }
    &__brands{
        &-container{
            margin-top: 3rem;
            img{ padding: 1rem; }
        }
    }
    &__testimonials{
        h4{
            padding:  2rem 0;
            margin: 0;
        }
        p{
            margin: 0;
            padding: 0 0 2rem 0;
        }
    }
}