@import "variables";

.e{
    &__package{
        .lead{ padding-top: 1rem; }
    }
    &__blurb{
        &-header{
            line-height: 1.2;
            font-weight: 300;
            font-size: 2.5rem;
        }
    }
}

.col-sm-6{//centering buttons in list
    button{
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px){
    .e__blurb-header{
        font-size: 2rem;
    }
}

@media (max-width: 768px){
    .e__package{
        .display-4{
            font-size: 2.5rem;
        }
    }
}

