@import "variables";

////////////////////
// HTML Globals
////////////////////

// body { 
//     background: #f7f7f7 !important; 
//     font-family: 'Courgette';
// }

nav {
    box-shadow: 0px 0px 5px #888888; // Add drop shadow to bottom of the navbar
    border-top: 3px solid $primary;    
}

.nav {
    &-item a.nav-link { 
        transition: all .2s !important; 

        &:hover {
            color: $primary !important;
        }
    }

    &__watch-btn { margin-right: 0.75rem; }
    &__active { 
        font-weight: 500;
        color: black !important; 
    }

    //TEMP FOR WATCH NOW BUTTON
    &__hamburger{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        align-items: center;
        width: 100%;
    }
}

hr { border-top: 1px solid rgba($primary, .9) !important; } // Darker line for hr 

.svg{
    &__blk{
        fill: black;
        &-test{
            fill: transparent;
            stroke: black;
            stroke-width: 4px;
            stroke-linecap: round;
        }
    }
    &__highlight{ fill: rgba($primary, .75); }
    &__primary{ fill: $primary; }
}

/* Bootstrap override to center videos with side spacing */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    width: 92% !important;
    left: 4% !important;
}


///////////////////////
// Footer Styles
///////////////////////

footer {
    background-color: $primary;
    color: white;
    font-size: 0.875rem;
    // p{
    //     display: inline-block;
    //     margin: 0rem 0.75rem 0.5rem 0.75rem;
    // }
}

.footer {
    &__panel{
        padding: 2rem 0;
        &-logo {
            // position: relative;            
            & img {
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                width: 7rem;
                opacity: .8;
                transition: all .2s;S
                &:hover {
                    opacity: 1;
                }
            }
        }   
    }
         
    &__logos {        
        & a {
            display: inline-block;
            position: relative;
            margin: 0rem 0.5rem 0.5rem 0.5rem;
            color: $primary;
            padding: .25rem;
            background: $light;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            transition: all .2s;

            & i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                font-size: 1rem;
                color: $primary;
                font-weight: bold;
                background: rgba($light, .8);
            }
            &:first-child { margin-left: 0; }
        }
    }

    &__dev {
        padding: .5rem 0rem;
        font-size: .6rem;
        &-container { background-color: $secondary; }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .footer__ps-logo{
        padding-top: 0;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) {     
    .footer__logos a{
        margin: 0;
    }
}



///////////////////////
// Global Styles
///////////////////////

.g {
    &__banner { // Covid Alert Banner - Overriding Bootstrap
        top: 119px !important;
        width: 100% !important;
        color: white !important;
        border-radius: 0 !important;
        background-color: rgba($primary, 0.9) !important;
        border-color: rgba($primary, 0.9) !important;
        margin-bottom: 0 !important;
        z-index: 1000 !important;
    } 

    &__headers {
        margin: 3rem 0rem;
        overflow: hidden;
    }

    &__font {
        // &-stylised{
        //     font-family: 'Courgette', sans-serif;
        // }
        &-stylisedlrg{
            // font-family: 'Courgette', sans-serif;
            font-size: 1.3rem;
        }
    }

    &__divider{
        display: flex;
        align-items: center;
        text-align: center;
        &::before, &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid rgb(90, 90, 90);
        }
        &::before {
            margin-right: 1.5em;
            margin-left: .5rem;
        }
        &::after {
            margin-left: 1.5em;
            margin-right: .5rem;
        }
    }

    &__author { color: $author; }
    &__btn-outline { @include btn-outline($btn); }
    &__bg-primary { background-color: rgba($primary, .125) !important; }
    &__btn-primaryoutline { @include btn-outline($primary); }
    &__container-spacer { margin-top: 4rem; } // Top spacing for container
    &__links-dark { @include links($link__dark, $link__dark-hover); }
    &__links-light { @include links($link__light, $link__light-hover); }
    &__text-spacer { margin-top: 0.5rem; }
    &__text-spacermed { margin-top: 1rem; }
    &__text-spacerlrg { margin-top: 1.5rem; }
    &__txt-thin { font-weight: 300; }
    &__txt-bold { font-weight: 400; }    
}

@media (max-width: 576px){
    .g__headers{
        .display-3{
            font-size: 2.5rem;
        }
    }
}

/////////////////////////////
// BOOTSTRAP OVERRIDES 
/////////////////////////////

.navbar-light .navbar-toggler { //Remove hamburger menu logo
    border-color: rgba(0,0,0,0) !important;
}

@media (min-width: 992px) { //Adding spacing between nav items
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0rem 1rem !important;
    }
}

.close:hover{
    color: rgb(218, 218, 218) !important;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    text-shadow: 3px 3px rgb(71, 71, 7) ;
}

