@import "variables";

////////////////////
// HTML Globals
////////////////////

nav{
    box-shadow: 0px 0px 5px #888888; // Add drop shadow to bottom of the navbar
}

.nav__watch-btn{
    margin-right: 0.75rem;
}

.nav__active{
    font-weight: 500;
}

hr{
    border-top: 1px solid rgba($primary, .9) !important; // Darker line for hr
    // box-shadow:  2px 2px 20px rgba($primary, 1) !important;
}

/////////////////////////
// Watch Now Styles
/////////////////////////

.wn__overlay{
    height: 100vh;
    width: 100%;    
    z-index: 5000;
    position: fixed;
    display: none;
    align-content: center;
    color: white;
    background-color: rgb(0,0,0); // Black fallback color
    background-color: rgba(0,0,0, 0.9); // Black w/opacity 
    overflow: hidden;
    overflow-x: hidden; // Disable horizontal scroll 
}

/* Bootstrap override to center videos with side spacing */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{
    width: 92% !important;
    left: 4% !important;
}

///////////////////////
// Footer Styles
///////////////////////

footer{
    background-color: $primary;
    color: white;
    font-size: 0.875rem;
    border-top: solid black 12px;
    p{
        display: inline-block;
        margin: 0rem 0.75rem 0.5rem 0.75rem;
    }
}

.footer__panel{
    padding-top: 2rem;
    text-align: center;
}

.footer__logos{
    img{
        display: inline-block;
        margin: 0rem 0.75rem 0.5rem 0.75rem;
    }
}

.footer__dev{
    padding: .75rem 0rem;
}

.footer__dev-container{
    margin-top: 2rem;
    background-color: $secondary;
}

///////////////////////
// Global Styles
///////////////////////

.g__container-spacer{
    margin-top: 4rem; // Top spacing for container
}

.g__text-spacer{
    margin-top: 0.5rem;
}

.g__text-spacermed{
    margin-top: 1rem;
}

.g__text-spacerlrg{
    margin-top: 1.5rem;
}

.g__txt-thin{ 
    font-weight: 300;
}

.g__txt-bold{
    font-weight: 400;
}

.g__banner{ // Covid Alert Banner - Overriding Bootstrap
    position: fixed !important;
    z-index: 1000;
    width: calc(100% - 2rem);
    margin: .5rem 1rem;
    color: white !important;
    background-color: $primary !important;
    border-color: $primary !important;
} 

.g__links-light{
    @include links($link__light, $link__light-hover);
}

.g__links-dark{
    @include links($link__dark, $link__dark-hover);
}

.g__headers{
    margin: 3rem 0rem;
    overflow: hidden;
}

@media (max-width: 576px){
    .g__headers{
        .display-3{
            font-size: 2.5rem;
        }
    }
}

.g__author{
    color: $author;
}

.g__btn-outline{
    @include btn-outline($btn);
}

.g__btn-primaryoutline{
    @include btn-outline($primary);
}

.g__bg-primary{
    background-color: rgba($primary, .125) !important;
}

/////////////////////////////
// BOOTSTRAP OVERRIDES 
/////////////////////////////

.navbar-light .navbar-toggler { //Remove hamburger menu logo
    border-color: rgba(0,0,0,0) !important;
}

@media (min-width: 992px) { //Adding spacing between nav items
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0rem 1rem !important;
    }
}

