@import "variables";

.s__tiles{
    margin: 1rem 0rem;
}

.s__tiles-img{
    padding: 1rem;
}

.s__tiles-text{
    padding: 1rem;
    p{
        font-size: 1.25rem;
    }
}

.s__management-blurb{
    padding: 2rem 0;
}