@import "variables";

.t__cards{
    background-color: #e9ecef;
    margin: 1rem 0;
    img{
        width:100%;
    }
    .col-sm-6{
        padding:0 !important; /* Bootstrap override to make images line up when the text is not taller than the image */
    }
    p{
        padding: 1.5rem;
    }
}

.t__pv-container{
    img{
        width: 100%;
    }
}