// COLOURS
$primary: #5F3782;
$primary-dark: #472466;
$secondary: #161616;
$light: #fefefe;

$link__light: rgb(170, 75, 170);
$link__light-hover: rgb(200, 135, 215);

$link__dark: lightgrey;
$link__dark-hover: grey;

$btn: black;

$author: grey;

// Mixins
@mixin links($colour, $colour-hover){
    text-decoration: none;
    transition: 0.2s;
    color: $colour;
    border-radius: 2px;
    &:hover{
        text-decoration: none;
        color: $colour-hover;
    }
    // &:active{}
    &:focus{
        text-decoration: none;
        // box-shadow: 0 0 0 2px rgba($colour, .25);
    }
    // &:visited{}
}

@mixin btn-outline($colour){
    color: $colour !important;
    border-color: $colour !important;
  
    &:hover{
      color: white !important;
      background-color: $colour;
      border-color: $colour;
      transition: 0.2s;
    }
  
    &:focus,
    &.focus {
      box-shadow: 0 0 0 5px rgba($colour, .25) !important;
    }
  
    &.disabled,
    &:disabled {
      color: $colour;
      background-color: transparent;
    }
  
    &:focus {
        box-shadow:  0 0 0 5px rgba($colour, .5);
    }
  }