// COLOURS

$primary: #5F3782;
// $primary: rgb(130, 90, 160);
$primary-dark: #472466;
$secondary: #161616;
$light: #fefefe;

$link__light: $primary;
$link__light-hover: rgba($primary, 0.75);

$link__dark: rgb(225, 190, 255);
$link__dark-hover: rgb(187, 140, 201);

$btn: black;

$author: grey;

// Mixins
@mixin links($colour, $colour-hover){
    text-decoration: underline !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: $colour !important;
    border-radius: 2px;
    &:hover{
        // text-decoration: none;
        color: $colour-hover !important;
    }
    // &:active{}
    &:focus{
        text-decoration: none;
        // box-shadow: 0 0 0 2px rgba($colour, .25);
    }
    // &:visited{}
}

@mixin btn-outline($colour){
    color: $colour !important;
    border-color: $colour !important;
  
    &:hover{
      color: white !important;
      background-color: $colour;
      border-color: $colour;
      transition: 0.2s;
    }
  
    &:focus,
    &.focus {
      box-shadow: 0 0 0 5px rgba($colour, .25) !important;
    }
  
    &.disabled,
    &:disabled {
      color: $colour;
      background-color: transparent;
    }
  
    &:focus {
        box-shadow:  0 0 0 5px rgba($colour, .5);
    }
  }