body{
    text-align: center;
}

#content{
    height: 150vh;
    display: grid;
    align-content: center;
    background-color: rebeccapurple;
    color: white;
}

/* Landing Image */
.landing--container{
    height: calc(100vh - 100px - 0.5rem); /* Change based on pixel height of logo in nav */
    width: 100%;
    overflow: hidden;
    background-image: url(../Images/Desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing--logoContainer{
    margin-top: 7rem;
    text-align: center;
}
.landing--logoContainer img{
    margin: 0rem 1rem;
    height: 170px;
    width: 400px;
}

/*Covid Alert Banner - Overriding Bootstrap*/
.banner--covid{
    position: fixed !important;
    z-index: 1000;
    width: calc(100% - 2rem);
    margin: .5rem 1rem;

} 

footer{
    height: 116px;
    background-color: #f8f9fa;
}

.footer-logos{
    height: 116px;
    display: grid;
    align-content: center;
    text-align: center;
}

.footer-logos img{
    margin: 0rem 0.75rem;
}

/* BOOTSTRAP OVERRIDES */

/* Remove hamburger menu logo */
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0) !important;
}

/* Adding spacing between nav items */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0rem 1rem !important;
    }
}
