body{
    text-align: center;
}

#content{
    height: 85vh;
    display: grid;
    align-content: center;
}

footer{
    height: 10vh;
    background-color: #f8f9fa;
}

.footer-logos{
    height: 10vh;
    display: grid;
    align-content: center;
    text-align: center;
}

.footer-logos img{
    margin: 0rem 0.75rem;
}