body{
    text-align: center;
}

nav{
    box-shadow: 0px 0px 5px #888888;
}

/* Globals */

.globals--headers{
    margin: 3rem 0rem;
}

.globals--highlights{
    color: rgb(148, 148, 148);
}

.globals--containerSpacing{
    margin-top: 4rem;
}

/* Watch Now Overlay */

.watchNow--overlay{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    display: none;
    align-content: center;
    overflow: hidden;
    color: white;
}

.watchNow--closeBTN:hover{ 
    text-decoration: none;
}


/* Landing Image */
.landing--container{
    height: calc(100vh - 100px - 0.5rem); /* Change based on pixel height of logo in nav */
    width: 100%;
    overflow: hidden;
    background-image: url(../Images/Desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing--logoContainer{
    margin-top: 7rem;
    text-align: center;
}
.landing--logoContainer img{
    margin: 0rem 1rem;
    height: 170px;
    width: 400px;
}

.landing--blurb{
    text-align: center;
}

.landing--blurb-summary{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.landing--blurb-summary hr{
    margin: 4rem 0rem;
}

.landing--blurb-summary h4{
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.landing--blurb-summary h6{
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.landing--card-author{
    color: rgb(148, 148, 148);
}

.landing--videos{
    margin: 4rem 0rem 0rem 0rem;
}

/* Bootstrap override to center videos with side spacing */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{
    width: 92% !important;
    left: 4% !important;
}

/* Adjusting the height between each landing card */
.landing--card{
    margin-top: 2rem;
}

/* Center content within landing cards */
.landing--card-content{
    height: 100%;
    padding-bottom: 1rem; /* mirror padding on p tags in landing--card p */
    display: grid !important; /* Override bootstrap*/
    align-content: center;
}

.landing--card p{
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

/*Covid Alert Banner - Overriding Bootstrap*/
.banner--covid{
    position: fixed !important;
    z-index: 1000;
    width: calc(100% - 2rem);
    margin: .5rem 1rem;

} 

footer{
    margin-top: 5rem;
    background-color: rgb(83,79,78);
    color: white;
    font-size: 0.875rem;
}

footer p{
    margin: 0.5rem;
    padding: 0;
}

.footer-logos img{
    display: inline-block;
    margin: 0rem 0.75rem 0.5rem 0.75rem;
}

.footer--panel{
    padding-top: 2rem;
    text-align: center;
}

.footer--devCol{
    text-align: center;
    padding: .75rem 0rem;
}

.footer--devCol-container{
    margin-top: 2rem;
    background-color: rgb(22, 22, 22);
}


/* Individual pages */
/* SERVICES */

.services--contentBlocks{
    margin-top: 4rem;
}

.services--contentBlocks h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.services--tiles{
    margin: 1rem 0rem;
}

.services--tiles img{
    margin: 1rem 0rem;
}

.services--circleLogo img{
    margin: 2rem 2rem 0rem 2rem;
}

/* Repertoire */

.repertoire--listContainer{
    height: 100%;
    display: grid !important; /* Override bootstrap*/
    align-self: center;
    font-size: .75rem;
}

.repertoire--artist{
    color: rgb(148, 148, 148);
}

.repertoire--songList{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.repertoire--songList div{
    margin: 0rem .25rem;
}

.repertoire--downloadContainer p{
    margin: 0;
    padding: 0;
}

.repertoire--rowContainer{
    margin-top: 3rem;
}

.repertoire---header{
    margin: 3rem 0rem;
}

/* Testimonials */
.testimonials--testimonialsContainer{
    margin: 4rem 0rem;
}

.testimonials--testimonialsContainer img{
    width:100%;
}

.testimonials--testimonialsContainer .col-sm-6{
    padding:0 !important; /* Bootstrap override to make images line up when the text is not taller than the image */
}

.testimonials--testimonialsContainer p{
    padding: 1.5rem;
}

.testimonials--header{
    margin: 3rem 0rem;
}

.testimonials--author{
    color: rgb(148, 148, 148);
}

.testimonials--pastVenuesContainer img{
    width: 100%;
}

/* Contact */
.contact--container{
    margin: 4rem 0rem;
}

.contact--container img{
    width: 75%;
}

/* BOOTSTRAP OVERRIDES */

/* Remove hamburger menu logo */
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0) !important;
}

/* Adding spacing between nav items */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0rem 1rem !important;
    }
}
